.header-style{
   background: transparent
}
 .header-values {
   list-style-type: none;
   padding: 10px;
   overflow: hidden;
   background-color: #333;
   text-align: center;
 }
 a{
     padding: 20px;
     color: white;
 }
#email-style a{
   padding: 20px;
   color:  blue
}
 .icon-header-class{
    float :   right;
 }

 .contactcard-header{
    /* font-size:  2px; */
    /* background-color:   black; */
 }